<!--Footer.ejs,Gurpreet Kaur, 300989390 , 16/2/19-->
<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/bootstrap.min.js">
  </script>
  <script src ="Scripts/app.js"></script>
</body>
</html>