<% include ./partials/header.ejs %>


<div class="container">
  <div style="background: rgb(82, 173, 120)!important" class="jumbotron">
    <br> 
        
      <h2 class="text-center" >Hello ! Welcome to My Protfolio ..</h2>
    <br>
    <br>
      <h4 class="text-center"><i class="fa fa-lg fa-angle-double-right"></i> Mission Statement <i class="fa fa-lg fa-angle-double-left"></i></h4>
      <p class="lead" >  I am a committed and a hard-working individual who is focused on enhancing the
        technical skills. My coursework has helped me gain knowledge to excel in the field of software development. 
        I believe that <b>"Success usually comes to those who are too busy to be looking for it"</b>.</p> 
     
     
          <h4 class="text-center"><a class="btn btn-primary btn-lg" href="/about" role="button" style="background: rgb(53, 58, 55)!important"> Click here to know more about me !! </a></h4>
          <br>
        

    </div>
</div>

    
 <% include ./partials/footer.ejs %>